a.register-panel i {
    margin-right: 10px;
}
.register-form {
    width: 60%;
    margin: auto;
}
select#filterSearch {
    float: left;
    height: 50px;
    border: 1px solid #00000030;
    padding: 10px;
}